<app-panel>
  <p>Esto se incluye en el componente</p>
  <p>Esto se incluye en el componente 3</p>
  <p>Esto se incluye en el componente 2</p>
</app-panel>
<app-panel2>
  <p contenido>Este es el cuerpo de la noticia</p>
  <h1 titulo>Este es el titulo</h1>
</app-panel2>
<app-listado>
  <app-panel item></app-panel>
  <app-panel2 footer></app-panel2>
</app-listado>
